header {
    padding: 1rem;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 980px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 736px) {
    .container {
        width: 90% !important;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 90% !important;
    }
}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .inner {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .inner {
        max-width: 90%;
    }
}

#header {
    color: #fff;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: absolute;
    text-align: right;
    top: 2em;
    width: 100%;
    z-index: 10001;
}

#header .inner {
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 980px) {
    #header {
        top: 1em;
    }
}

@media screen and (max-width: 736px) {
    #header {
        top: .5em;
    }
}

@media screen and (max-width: 480px) {
    #header {
        font-size: .9em;
    }
}

#banner {
    padding: 8em 0 9em 0;
    text-align: center;
    position: relative;
}

#banner .inner {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 10005;
    padding-top: 8em;
}

@media screen and (max-width: 1280px) {
    #banner {
        padding: 7em 0 6em 0;
    }
    #banner .inner {
        padding-top: 6em;
    }
}

@media screen and (max-width: 980px) {
    #banner {
        background-attachment: scroll;
        padding: 5em 0 4em 0;
    }
    #banner .inner {
        padding-top: 4em;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 4em 0 3em 0;
    }
    #banner .inner {
        padding-top: 3em;
    }
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    padding: 2em 0;
    color: #fff;
    text-align: center;
    background-color: #6cc091;
}

#footer h3 {
    color: #FFF;
    margin-bottom: 2em !important;
}

#footer label {
    text-align: left;
    color: #FFF;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    margin: 0 0 2em 0;
    padding: 0;
}

#footer .copyright a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#footer .copyright a:hover {
    color: #FFF;
}

@media screen and (max-width: 980px) {
    #footer {
        padding: 1.5em 0;
    }
}

@media screen and (max-width: 736px) {
    #footer {
        padding: 1em 0;
    }
}
